body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.signup-box {
  cursor: pointer;
}

.logo {
  top: 8rem;
  filter: contrast(10);
  opacity: 70%;
}

input {
  height: 8px;
  border: none;
  border-radius: 7px;
  outline: none;
  padding: 0.8rem;
  appearance: none;
}

img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 70px;
  height: 70px;
}

button {
  height: 2rem;
  width: 4rem;
  border-radius: 7px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.131);
  border-style: none;
}

.login-window {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}
